html, body, #wrap
{
  height: 100vh;
  padding: 0;
  margin: 0;
}
#index-body #map
{
  background: url(../mockupus.jpg) no-repeat;
}

#map-body #map
{
  background: rgb(192,192,192) no-repeat;
}
#map
{
  height: 100vh;
  background-size: stretch;
}

#searchbox
{
  position: fixed;
  top: 100px;
  left: 10px;
}

#searchbox .input-group
{
  margin: 10px;
}

#searchbox .panel
{
  box-shadow: 2px 2px 10px rgba(0,0,0,0.3);

}

#searchbox .panel-footer
{
  max-height: 75vh;
  overflow: auto;

}

#map #searchbox, #searchbox
{
  visibility: hidden;
  height: 0px;
  display: none;
}

.titledrop
{
  text-align: center;
  color: RebeccaPurple;
}

a, b
{
  font-weight: bold;
  color: RebeccaPurple;
}
a:hover
{
  color: MediumPurple;
}
.databar
{
  padding: 8px;
}
/*
.databar table, .databar-table
{
  width: 100%;
  padding: 3px;
}
.databar-table tr
{
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
.databar-table td
{
  padding: 3px;
}
*/
.databar .callsign
{
  text-align: center;
}
.databar
{
  background-color: #fafafa;
}
.databar table tbody tr
{
  /*background-color: white;*/
}
.databar table th
{
  font-size: 120%;
}

.databar table tr td:first-child
{
  font-weight: bold;
}
.databar table code
{
  background-color: transparent;
}

#morebutton
{
  text-align: center;
}
